.root{
    -fx-background-image: url("/images/background.jpeg");
    -fx-background-position: center;
}
.title-text{
    -fx-font-family: "Irish Grover";
    -fx-font-size: 96;
    -fx-text-fill: #CAA855;
}

.title-text-small{
    -fx-font-family: "Irish Grover";
    -fx-font-size: 40;
    -fx-text-fill: white;
}

.nav-button{
    -fx-font-family: "Irish Grover";
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 50;
}

.nav-button:hover{
    -fx-text-fill: black;
}