.root{
    -fx-background-image: url("/images/background.jpeg");
    -fx-background-size: cover;
    -fx-background-repeat: no-repeat;
    -fx-background-position: center;
}
.title-text{
    -fx-font-family: "Irish Grover";
    -fx-font-size: 96;
    -fx-text-fill: #CAA855;
}

.port-field{
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-background-color: #D9D9D9;
    -fx-min-width: 400;
    -fx-max-height: 58;
    -fx-alignment: center;
    -fx-font-family: "Irish Grover";
    -fx-font-size: 30;
    -fx-text-fill: #000000;
}

.start-button{
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-background-color: #1E4620;
    -fx-border-color: #98FFC3;
    -fx-text-fill: white;
    -fx-font-family: "Irish Grover";
    -fx-font-size: 70;
}

.stop-button{
    -fx-border-radius: 30;
    -fx-background-radius: 30;
    -fx-background-color: #991A1A;
    -fx-border-color: #FF8686;
    -fx-text-fill: white;
    -fx-font-family: "Irish Grover";
    -fx-font-size: 70;
}

.nav-button{
    -fx-font-family: "Irish Grover";
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 50;
}

.nav-button:hover{
    -fx-cursor: hand;
    -fx-underline: true;
}